/* Import Poppins font with font weights 100, 300, 400, 500, 600, 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #272E4F;
    --green: #BCEB3C;
    --purple: #A58BFF;

    --text-color: #F2F2F0;
    --text-color2: #808080;
    --background-color: #080705;
    --header-color: #0e0d0a;

    --header-height: 50px;

    --filter_black: invert(13%) sepia(47%) saturate(797%) hue-rotate(192deg) brightness(99%) contrast(88%);
    --filter_white: invert(100%) sepia(100%) saturate(0%) hue-rotate(80deg) brightness(102%) contrast(102%);
    --filter_green: invert(74%) sepia(91%) saturate(341%) hue-rotate(23deg) brightness(99%) contrast(99%);
    --filter_purple: invert(51%) sepia(89%) saturate(667%) hue-rotate(213deg) brightness(101%) contrast(102%);
}

.lightmode {
    --text-color: #0d0b25;
    --text-color2: #2a2a2a;
    --background-color: #ffffff;
    --header-color: #bdbdbd;
}

body {
    background-color: var(--background-color);
}

/*-------- Header --------*/
header {
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--header-height);
    padding-right: 20px;
    padding-left: 20px;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.return-portfolio-container,
.header-morpion-container,
.darkmode-toggle-container {
    width: calc(100% / 3);
    align-items: center;
}

.header-morpion-container {
    display: flex;
    justify-content: center;
}

.darkmode-toggle-container {
    display: flex;
    justify-content: right;
}

a {
    text-decoration: none;
}

header img {
    width: 24px;
    margin-right: 6px;
    filter: var(--filter_white);
}

header .return-portfolio img {
    transition: 500ms;
}

header div {
    display: flex;
    flex-direction: row;
}

header .return-portfolio {
    display: flex;
    flex-direction: row;
}

header .return-portfolio:hover h1 {
    color: var(--text-color2);
}

header .return-portfolio:hover img {
    filter: invert(54%) sepia(0%) saturate(52%) hue-rotate(284deg) brightness(94%) contrast(90%);
}

header h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    color: var(--text-color); 
    transition: 500ms;
}

header .darkmode-toggle {
    width: 60px;
    height: 28px;
    background-color: var(--background-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
    transition: 300ms;
}

header .darkmode-toggle .button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--text-color);
    transform: translateX(0);
    transition: 300ms ease-in-out;
}

header .darkmode-toggle.active .button {
    transform: translateX(140%);
}

/*-------- Main --------*/
main {
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: var(--text-color2);
}

.game_button {
    position: relative;
    background-color: var(--background-color);
    width: calc((100% - 10px) / 3);
    height: calc((100% - 10px) / 3);
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.game_img {
    width: 80%;
    height: 80%;
    display: none;
  }

.game_img.purple {
    filter: var(--filter_purple);
    width: 74%;
    height: 74%;
}

.game_img.green {
    filter: var(--filter_green);
}

main .description {
    margin-top: 100px;
    width: 1100px;
    display: flex;
    text-align: justify;
}

main .description p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    color: var(--text-color2);
}

main .scoreboard {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: red;
    width: 100px;
    height: 100px;
}