@font-face {
    font-family: 'Poppins-Bold';
    src: url('src/font/Poppins-Bold.ttf')
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #272E4F;
    --white: #F2F2F0;
    --green: #BCEB3C;
    --purple: #A58BFF;

    --filter_black: invert(13%) sepia(47%) saturate(797%) hue-rotate(192deg) brightness(99%) contrast(88%);
    --filter_white: invert(100%) sepia(100%) saturate(0%) hue-rotate(80deg) brightness(102%) contrast(102%);
    --filter_green: invert(74%) sepia(91%) saturate(341%) hue-rotate(23deg) brightness(99%) contrast(99%);
    --filter_purple: invert(51%) sepia(89%) saturate(667%) hue-rotate(213deg) brightness(101%) contrast(102%);
}

body {
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

header p {
    font-family: 'Poppins-Bold';
    font-size: 40px;
    color: var(--black);
}

main {
    width: 100%;
    height: calc(100vh - 80px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/**------ Score Info ------ **/
#score_info {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.score_info {
    font-family: 'Poppins-Bold';
    font-size: 50px;
    color: var(--black);

    display: flex;
    align-items: center;
    justify-content: center;
}

.score_info .icon_container {
    width: 65px;
    height: 65px;

    background-color: var(--purple);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    margin-right: 10px;

    display: none;
}

.score_info .icon_container img {
    width: 80%;
    height: 80%;

    filter: var(--filter_white);
}

/**------ Score ------**/
#score {
    width: 20%;
    height: 85%;

    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.x_score, .o_score {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.x_icon, .o_icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;
}

.x_icon {
    background-color: var(--green);
}

.o_icon {
    background-color: var(--purple);
}

#score img {
    width: 85%;
    height: 85%;

    filter: var(--filter_white);
}

#score p {
    font-family: "Poppins-Bold";
    font-size: 30px;
    color: var(--black);
}

/**------ Game ------**/
#game {
    width: 80%;
    height: 85%;

    display: flex;
    align-items: center;

    padding-left: calc((100vw / 2) - 20vw);
}

.game {
    width: 500px;
    height: 500px;

    transform: translateX(-50%);

    background-color: var(--black);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.game button {
    border: none;
    padding: 0;
    cursor: pointer;

    border: none;
    background-color: var(--white);

    width: calc(96% / 3);
    height: calc(96% / 3);

    display: flex;
    align-items: center;
    justify-content: center;
}

.game_img {
    width: 50px;
    height: 50px;
}

.game button img {
    display: none;

    width: 80%;
    height: 80%;
}

.game button img.green {
    filter: var(--filter_green);
}

.game button img.purple {
    filter: var(--filter_purple);
}

@media (max-width: 1050px){
    main {
        height: fit-content;
    }

    header {
        align-items: center;
        justify-content: center;

        padding-left: 0;
    }

    header p {
        font-size: min(40px, 10vw);
    }

    #game {
        width: 100%;
        height: fit-content;

        margin-top: 20px;
        padding-left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .game {
        transform: translateX(0);
        order: 1;

        width: 80vw;
        height: 80vw;

        max-width: 400px;
        max-height: 400px;
    }

    #score {
        margin-top: 20px;

        order: 2;
        width: 100%;
        height: fit-content;
        padding: 0;

        display: flex;
        align-items: center;
        flex-direction: row;
    }

    #score p {
        font-size: min(40px, 10vw);
    }

    .x_score, .o_score {
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .x_icon, .o_icon {
        width: 16vw;
        height: 16vw;

        max-width: 70px;
        max-height: 70px;
    }

    #score_info {
        margin-top: 20px;
        height: 15vw;
    }

    .score_info {
        font-family: 'Poppins-Bold';
        font-size: min(26px, 8vw);
        color: var(--black);
    }
    
    .score_info .icon_container {
        max-width: 50px;
        max-height: 50px;

        width: 12vw;
        height: 12vw;
    
        background-color: var(--purple);
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 50%;
        margin-right: 10px;
    
        display: none;
    }
    
    .score_info .icon_container img {
        width: 80%;
        height: 80%;
    
        filter: var(--filter_white);
    }
}